<div class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-green-900 rounded-xl">
    <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" [src]="user.avatar_url" alt="avatar">
    <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">{{ user.login }}</h1>
    <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">ID: {{ user.id }}</p>
    <button
        class="mt-2 group inline-flex min-w-0 items-center gap-2 rounded bg-green-600 px-6 py-3 text-sm font-semibold text-white transition-all hover:shadow-lg hover:shadow-green-500/40 active:scale-95 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        (click)="goTo()"
    >
        See profile
        <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4 w-0 transition-all group-hover:w-4"
        >
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    </button>
</div>
